$base-color:#FFF;
$secondary-color:#4f4f4f;

$accent-color:#eca140;
$accent-color-2:#cd8220;
$blue-accent:#0E9CBC;

$breakpoints:(
    "xs-screen":0,
    "sm-screen":480px,
    "md-screen":720px,
    "lg-screen":960px,
    "xl-screen":1200px,
);